*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1f1f;
}

body{
    background-color: #f0f0f0;
}

p{
    font-size: 16px;
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #a5a5a5;

    &>h2{
        font-size: 25px;
    }
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px;
    flex-basis: 250px;

    &>.title{
        font-size: 22px;
        margin-bottom: 2px;
    }
    &>.price{
        margin-bottom: 10px;

        .price-value{
            color:#ce2c2c;
            font-weight: 600;
        }
    }
    &>.description{
        text-align: justify;
        flex-grow: 1;
    }

    &>.btn{
        padding: 10px;
        border-radius: 10px;
        border: none;
        margin-top:30px;
        background-color: #3ac403;
        font-size: 20px;
        cursor: pointer;
        transition: background-color .15s linear;

        &:hover{
            background-color: #3fdd00;
        }
        &:active{
            background-color: #2fa500;
        }

        &-update{
            margin-top: 0;
            background-color: #dfd000;

            &:hover{
                background-color: #eddd01;
            }
            &:active{
                background-color: #bbae00;
            }
        }

        &-delete{
            margin-top: 0;
            background-color: #df0000;

            &:hover{
                background-color: #c70000;
            }
            &:active{
                background-color: #910000;
            }
        }
    }
}

#blur{
    position: fixed;
    // display: block;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 64;
    background-color: rgba(14, 14, 14, 0.57);
}

.form-wrapper{
    position: fixed;
    // display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #c9c9c9;
    left: 50%;
    top: 50%;
    z-index: 128;
    transform: translate(-50%, -50%);

    &-title{
        margin-bottom:10px;
        text-align: center;
    }
}

.form-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;

    &-label{
        font-size: 18px;
    }

    &-input{
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #1f1f1f;
        background-color: #eeeeee;
        font-size: 18px;
    }

    textarea{
        width: 400px;
        height: 150px;
        resize: none;
    }

    &-btns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-items: center;
        margin-top: 10px;
    }

    &-btn{
        padding: 10px;
        font-size: 20px;
        width: 100%;
        border: none;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        transition: background-color .15s linear;
    }

    .btn-save{
        background-color: #3ac403;

        &:hover{
            background-color: #3fdd00;
        }
        &:active{
            background-color: #2fa500;
        }
    }

    .btn-back{
        background-color: #dfd000;

        &:hover{
            background-color: #eddd01;
        }
        &:active{
            background-color: #bbae00;
        }
    }
}

.create-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: start;
    margin: 20px 50px;
}

.create-prototype-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-item{
    display: flex;
    flex-direction: row;
    gap: 20px;

    &-field{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }

    &-label{
        font-size: 15px;
    }

    &-input{
        font-size: 14px;
        border: 2px solid rgb(82, 82, 82);
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #d2d2d2;
    }

    &-prototype{
        border: 1px solid #b2b2b2;
        border-radius: 10px;
        padding: 10px;

        &-value{
            color: #595959;
        }
    }

    &-btn{
        padding: 5px 10px;
        font-size: 20px;
        width: 200px;
        border: none;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        transition: background-color .15s linear;

        &-submit{
            background-color: #3ac403;
    
            &:hover{
                background-color: #3fdd00;
            }
            &:active{
                background-color: #2fa500;
            }
        }
    
        &-add{
            background-color: #dfd000;
    
            &:hover{
                background-color: #eddd01;
            }
            &:active{
                background-color: #bbae00;
            }
        }
    }
}