* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #1f1f1f;
}

body {
  background-color: #f0f0f0;
}

p {
  font-size: 16px;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a5a5a5;
}
.category-wrapper > h2 {
  font-size: 25px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 10px;
  flex-basis: 250px;
}
.card > .title {
  font-size: 22px;
  margin-bottom: 2px;
}
.card > .price {
  margin-bottom: 10px;
}
.card > .price .price-value {
  color: #ce2c2c;
  font-weight: 600;
}
.card > .description {
  text-align: justify;
  flex-grow: 1;
}
.card > .btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  background-color: #3ac403;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.15s linear;
}
.card > .btn:hover {
  background-color: #3fdd00;
}
.card > .btn:active {
  background-color: #2fa500;
}
.card > .btn-update {
  margin-top: 0;
  background-color: #dfd000;
}
.card > .btn-update:hover {
  background-color: #eddd01;
}
.card > .btn-update:active {
  background-color: #bbae00;
}
.card > .btn-delete {
  margin-top: 0;
  background-color: #df0000;
}
.card > .btn-delete:hover {
  background-color: #c70000;
}
.card > .btn-delete:active {
  background-color: #910000;
}

#blur {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 64;
  background-color: rgba(14, 14, 14, 0.57);
}

.form-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #c9c9c9;
  left: 50%;
  top: 50%;
  z-index: 128;
  transform: translate(-50%, -50%);
}
.form-wrapper-title {
  margin-bottom: 10px;
  text-align: center;
}

.form-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.form-item-label {
  font-size: 18px;
}
.form-item-input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #1f1f1f;
  background-color: #eeeeee;
  font-size: 18px;
}
.form-item textarea {
  width: 400px;
  height: 150px;
  resize: none;
}
.form-item-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  margin-top: 10px;
}
.form-item-btn {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.15s linear;
}
.form-item .btn-save {
  background-color: #3ac403;
}
.form-item .btn-save:hover {
  background-color: #3fdd00;
}
.form-item .btn-save:active {
  background-color: #2fa500;
}
.form-item .btn-back {
  background-color: #dfd000;
}
.form-item .btn-back:hover {
  background-color: #eddd01;
}
.form-item .btn-back:active {
  background-color: #bbae00;
}/*# sourceMappingURL=index.css.map */